h1 {
    background-color: blue;
    color: white;
}
img{
    width: 250px;
    float: right;
}
.description{
    border: 2px solid orange;
    text-shadow: green 1px 0 5px;
    border-radius: 5px;
    font-size: 22px;
    padding: 10px
}
.p1{
     font-style: oblique;
     text-align: center;
     font-size: 24px;
}

h3{
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 100px;
}